 <% if @orders %>
     <table class="table table-hover">
       <tbody>
       <tr>
         <% @orders.each_slice(4) do |slice|%>
             <tr>
               <% slice.each do |u| %>
             <td valign="top">
               <table class="table table-hover">
                 <tr>
                   <td>
                     <%= link_to image_tag('table-red.png', size: "120"), table_path(id: u.table.id), :title => u.table.sum %>
                   </td>
                 </tr>
                 <tr>
                   <td>
                     <i>Table:<%= u.table.number %></i>
                   </td>
                 </tr>
                 <% u.order_menu_items.each do |o|%>
                     <tr>
                       <td>

                         *<%= o.item.name %>
                       </td>
                     </tr>
                 <%end%>
               </table>

             </td>
               <% end%>
             </tr>

         <% end %>
       </tr>
       </tbody>
     </table>

  <%end %>
