<% if @categories %>
    <div class="row"><br/>
      <% @categories.each_slice(4) do |slice| %>
          <div class="row ">
            <% slice.each do |u| %>
                <div class="col-sm-2">
                  <div class="row text-center"><i><b><%= u.name %></b></i><br/></div>
                  <div class="row">
                    <div class="col-sm-12">
                      <% u.subcategories.each do |p| %>
                          <% if p.items.present? %>
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="row bg-table-header"><br/>
                                    <i>&nbsp;&nbsp;<%= p.name %></i><br/>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-12 bg-table text-center">
                                      <% p.items.each do |i| %>
                                          <div class="row hover-div "><br/>

                                            <div class="col-sm-12">
                                              <%= link_to i.name, table_order_order_menu_items_path(table_id: @table.id, order_id: @order.id, item_id: i.id), method: :post %>
                                            </div>
                                          </div>
                                      <% end %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row"><br/></div>
                          <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-sm-1">&nbsp;</div>
            <% end %>
          </div>
          <br/><br/>
      <% end %>
    </div>
<% end %>

<%= link_to 'Save order', table_path(id: @table), class: "btn btn-primary form-control" %>