<div class="row text-center ">
  <br/><br/>
  <div class="col-sm-2 ">
    <%= link_to image_tag('report date.gif', width: '100%'), manager_reports_daily_path, :title => 'per day' %> <br/>
    Daily report
  </div>
  <div class="col-sm-2 col-sm-offset-1">
    <%= link_to image_tag('report-item.gif', width: '100%'), manager_reports_items_path, :title => 'per items' %>  <br/>
    Items statistics
  </div>
  <div class="col-sm-2 col-sm-offset-1 ">
    <%= link_to image_tag('report-tables.png', width: '100%'), manager_reports_tables_path, :title => 'per table' %> <br/>
    Tables statistics
  </div>
  <div class="col-sm-2 col-sm-offset-1 ">
    <%= link_to image_tag('report-category.gif', width: '100%'), manager_reports_categories_path, :title => 'per category' %> <br/>
    Category statistics
  </div>
</div>



