<table>
  <tr>
    <th></th>
    <th>&nbsp;&nbsp;</th>
  </tr>
  <% if @tables %>
      <% @tables.each do |u|%>
          <tr>
            <td><%= u.number %> &nbsp;&nbsp;</td>
            <td><% if u.payment %>
                  <%= link_to image_tag('table.png', size: "200"), table_path(id: u.id), :title => u.sum %>
                  <%else%>
                  <%= link_to image_tag('table-red.png', size: "200"), table_path(id: u.id), :title => u.sum %>
              <%end%>
                  </td>
          </tr>


      <% end %>
  <%end %>

</table>
<br/>